
/*css les 18 */

#content {
  display: flex;
}

.center {
  height: 150px;
  line-height: 150px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

  .titeltekst {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .broodtekst {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    width: 90%;
  }

  .footertekst {
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
  }

  a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
  }

  h1{
    font-family: 'Roboto', sans-serif;
  }

.header {
  font-family: 'Roboto', sans-serif;
  background-image: url(../afbeeldingen/bussum-klein.jpg);
  background-size: cover;
  background-position: bottom;
  height:150px;
  font-size: 20px;
  color: white;
  text-align: center;
   }

.lijst {
  background-color: olive;
  min-height: auto;
}

.lijst ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lijst li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: olive;
  color: white;
}

.lijst li:hover {
  background-color: green;
}

.lijst .titel{
    color: yellow;
    font-size: smaller;
    font-family: 'roboto', sans-serif;
}

.lijst .titel:hover{
  background: rgba(0, 0, 0, 0);
}

.lijst a {
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  color: white;
}

.titelblok {
  height: 75px;
}

.container{
background-color:sienna;
}

.diveen {
  background-color: inherit;
  padding-left: 25px;
}

.divtwee {
  background-color: inherit;
  padding-left: 25px;
}

.fotoeen {
  float: right;
  vertical-align: middle;
}

.fototwee {
  float: right;
  vertical-align: middle;
}

img {
  width: 150px;
  height:150px;
  object-fit: scale-down;
}

footer {
  width: 100%;
  min-height:20%;
  background-color: darkslateblue;
}

/* Mobiel hierboven

deze wit-ruimte is voor mij om te zien 
of ik in mobiele gedeelte of desktp gedeelte werk 

Desktop hieronder*/


@media only screen and (min-width: 768px) {
  .header {
    height:33%;
    background-image: url(../afbeeldingen/bussum.jpg);
    font-size: 45px;
    padding: 15px;
    margin-bottom: 10px;
  }

  .titeltekst {
    font-size: 24px;
  }

  .broodtekst {
    font-size: 18px;
    width: auto;
  }

  .lijst {
    min-height: 600px;
  }

  .lijst .titel{
    font-size: larger;
  }

  .titelblok {
    height: 100px;
  }
}
