
/*css les 18 */

#content {
  display: flex;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .titeltekst {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
  }

  .broodtekst {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .footertekst {
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
  }

  a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
  }

/* header */
  .header {
    height:33%;
    background-color: lightred;
    background-image: url(../afbeeldingen/bussum.jpg);
    background-size: cover;
    background-position: bottom;
    font-size: 45px;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }

@  media only screen and (max-width: 767px) {
    .header {
    background-image: url(../afbeeldingen/bussum-klein.jpg);
    font-size: 20px;
    color: white;
  }
}

/* lijstje */
.lijst {
  background-color: olive;
  min-height: 600px;
  border-right: 8px;
  border-color: white;
}

.lijst ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lijst li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: olive;
  color: white;
}

.lijst li:hover {
  background-color: green;
}

.lijst .titel{
    color: darkred;
    font-size: larger;
}

.lijst .titel:hover{
  background: rgba(0, 0, 0, 0);
}

.lijst a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}



footer {
  width: 100%;
  min-height:20%;
  background-color: darkslateblue;
}

#een {
  width: 20%;
  min-height: 150px;
  background-color: green;
}

.titelblok {
  height: 100px;
  color: white;
}

.titeltekst{
  color: white;
}

.broodtekst{
  color: white;
}

.container{
background-color:sienna;
}

.diveen {
  background-color: inherit;
  padding-left: 25px;
}

.divtwee {
  margin-top: 15px;
  padding-left: 25px;
  background-color: inherit;
}

.fotoeen {
  float: right;
}

.fototwee {
  float: right;
}

img {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}
